# This is a basic workflow to help you get started with Actions
name: Label Community Request
on:
  issues:
    types: [opened]

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
    - name: Check for team membership
      id: is_team_member
      uses: jamessingleton/is-organization-member@v1.0.0
      with:
        organization: seginoviax
        username: ${{ github.event.issue.user.login }}
        token: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/checkout@v2
      if: |
        steps.is_organiztion_member.outputs.result == false
    - name: Label issue
      if: |
        steps.is_organiztion_member.outputs.result == false
      uses: actions-ecosystem/action-add-labels@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        label: community/request
